#menu ul {
	font-family: calibri;
	font-size: 25px;
	font-weight: normal;
  	text-align: right;
    position: right;
    margin: 0;
    list-style:none;
	background-color: #69D2E7;
}

#menu li {
    display: inline-block;
    padding: 10px 10px;
    position: relative;

}

#menu ul li a {
	color: #333;
	text-decoration: none;
}

#menu li:hover > ul {
    display: block;
}

#menu ul ul {
    position: absolute;
    display: none;
    margin: 0;
    padding: 5px 10px;
   	font-size: 20px;
    text-align: left;

}

#menu ul ul li {
    display: block;
}

.footer {
  font-family: calibri;
  text-align: center;
	position:absolute;
	bottom:0;
	width:100%;
}

#menu {
    min-height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    background: #69D2E7;
    z-index: 2;

}

.home {
  font-size: 60px;
  text-align: center;
  position: absolute;
  left: 40%;
  top: 15%;
}

.login {
	font-size: 50px;
  text-align: center;
  position: absolute;
  left: 40%;
  top: 35%;
}
